

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* navbar */

    .navbar-brand img{
        width: 200px;
    }

    #navbar ul li{
        margin: 0 auto;
        padding: 10px 0;
    }

    #navbar ul li:hover::after{
        width: 0;
    }
    /* navbar */


    
    /* OWL-SLIDER-CAROUSEL PART */
    .owl-carousel .overlay img{
        width: 300px;
        margin-left: 130px;
    }
    /* OWL-SLIDER-CAROUSEL PART */



    /* features */
    .features_part{
        width: 450px;
    }
    /* features */



    /* counter part */

    .counter_part ul{
        gap: 10px;
    }

    /* counter part */
    
    /* footer section */

    .menu_area{
        padding-left: 20px;
    }

    /* footer section */
}



/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    
    body{
        overflow-x: hidden;
    }

    .container{
        margin: 0 auto;
    }

    /* navbar */

    #navbar ul li{
        margin: 0 auto;
        padding: 10px 0;
    }

    #navbar ul li:hover::after{
        width: 0;
    }
    /* navbar */

    /* OWL-SLIDER-CAROUSEL PART */
    .owl-carousel .overlay img{
        width: 300px;
        margin-left: 130px;
    }
    /* OWL-SLIDER-CAROUSEL PART */

    /* features */
    .features_part{
        margin: 0 auto;
    }
    /* features */


    /* questsions */
    .questsions-text-part h2{
        text-align: center;
    }

    .accordion{
        padding: 0 90px;
        margin-top: 25px;
    }
    /* questsions */

    /* review part */
    .counter_part ul{
        justify-content: center;
    }
    /* review part */

    /* pricing */
    .pricing_info{
        justify-content: center;
    }

    .pricing_item{
        padding: 10px;
        width: 450px;
    }
    
    .pricing_section .top_area{
        text-align: center;
    }
    
    .pricing_section ul{
        margin: 0px;
    }
    
    .pricing_section ul li{
        padding: 8px 80px 8px;
        gap: 14px;
        justify-content: start;
        border: none;
    }
    
    .pricing_section .button_area{
        text-align: center;
        margin: 30px;
    }

    .pricing_info .pricing_item:nth-child(1) .pricing_section{
        border-top: 2px solid var(--Picton-Blue);
    }
    .pricing_info .pricing_item:nth-child(2) .pricing_section{
        border-top: 2px solid var(--Picton-Blue);
    }
    .pricing_info .pricing_item:nth-child(3) .pricing_section{
        border-top: 2px solid var(--Picton-Blue);
    }
    .pricing_info .pricing_item:nth-child(2) ul{
        margin: 0; 
    }
    
    .pricing_section:hover{
        background: #F1F5F7;
        overflow: hidden;
        position: inherit;
        margin-top: 0;
        margin-bottom: 0;
    }
    /* pricing */

    

}



/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    
    body{
        overflow-x: hidden;
    }

    .container{
        margin: 0 auto;
    }


    /* navbar */

    #navbar ul li{
        margin: 0 auto;
        padding: 10px 0;
    }

    #navbar ul li:hover::after{
        width: 0;
    }
    /* navbar */
    
    /* banner part */
    .text_part{
        text-align: center;
    }
    .text_part p{
        padding: 0 60px;
    }

    .button-part{
        justify-content: center;
    }
    /* banner part */


    /* questsions part */
    .questsions-text-part h2{
        font-size: 24px;
        margin: 0;
    }
    
    .questsions-text-part .dot{
        font-size: 32px;
    }


    .accordion-item .accordion-btn span{
        font-size: 16px;
    }
    
    .accordion-item .accordion-body p{
        font-size: 14px;
        padding-right: 100px;
    }
    
    .accordion-item .accordion-btn .btn-icon i{
        font-size: 24px;
    }
    /* questsions part */
    
    /* review part */
    .review_info{
        text-align: center;
    }
    
    .counter_part{
        margin: 0 auto;
    }
    /* review part */


    /* pricing */
    .pricing_info{
        justify-content: center;
    }

    .pricing_item{
        padding: 10px;
        width: 450px;
    }
    
    .pricing_section .top_area{
        text-align: center;
    }
    
    .pricing_section ul{
        margin: 0px;
    }
    
    .pricing_section ul li{
        padding: 8px 80px 8px;
        gap: 14px;
        justify-content: start;
        border: none;
    }
    
    .pricing_section .button_area{
        text-align: center;
        margin: 30px;
    }

    .pricing_info .pricing_item:nth-child(1) .pricing_section{
        border-top: 2px solid var(--Picton-Blue);
    }
    .pricing_info .pricing_item:nth-child(2) .pricing_section{
        border-top: 2px solid var(--Picton-Blue);
    }
    .pricing_info .pricing_item:nth-child(3) .pricing_section{
        border-top: 2px solid var(--Picton-Blue);
    }
    .pricing_info .pricing_item:nth-child(2) ul{
        margin: 0; 
    }
    
    .pricing_section:hover{
        background: #F1F5F7;
        overflow: hidden;
        position: inherit;
        margin-top: 0;
        margin-bottom: 0;
    }
    /* pricing */

    
    /* icons */
    .social-icon ul{
        gap: 25px;
    }

    .social-icon ul li{
        max-width: 45px;
        max-height: 45px;
        
    }
    
    .social-icon ul li a{
        font-size: 20px;
    }
    /* icons */


    /* footer section */

    #footer{
        position: relative;
        padding: 80px 0 80px;
    }

    .footer .upper_part{
        text-align: center;
    }

    .footer-text {
        text-align: center;
    }

    .copyright{
        bottom: 12px;
        position: absolute;
    }

    .copyright h4{
        font-size: 14px;
    }

    .copyright span{
        font-size: 18px;
    }

    .menu_sec h5{
        font: 12px;
	    padding-bottom: 16px;
    }

    .menu_sec  li {
        margin-bottom: 10px;
    }

    .menu_sec  li a{
        font-size: 12px;
        font-weight: 400;
    }

    /* footer section */

    
    


}



/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

    body{
        overflow-x: hidden;
    }

    .container{
        margin: 0 auto;
    }

    .bv-img-3{
        display: none;
    }

    .review_part{
        margin: 0 auto;
    }
    /* icons */
    .social-icon ul li{
        max-width: 60px;
        max-height: 60px;
    }

    .social-icon ul li a{
        font-size: 30px;
        color: var(--White);
    }
    /* icons */

    /* footer section */

    .copyright h4{
        font-size: 20px;
    }

    .copyright span{
        font-size: 30px;
    }

    .menu_sec  li {
        margin-bottom: 10px;
    }

    .menu_sec  li a{
        font-size: 12px;
        font-weight: 400;
    }

    /* footer section */

}



/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    
    body{
        overflow-x: hidden;
    }

    .container{
        margin: 0 auto;
    }
    

}